.list{

}
.list .container-list{
    display: flex;
    flex-wrap: wrap;
}
.list .container-list .list-item{
    display: flex;
    flex-direction: row;
    border:1px solid black;
    width: 300px;
    padding: 10px;
    margin-left: 20px;
    margin-bottom:10px;
}

.list .container-list .list-item .list-item-image{

}

.list .container-list .list-item .list-item-details
{
    padding-left: 10px;
}
.list .container-list .list-item .list-item-details .list-item-details-seo
{

}
.list .container-list .list-item .list-item-details .list-item-details-seo h3
{
    margin-block-start: 0;
}

.list .container-list .list-item .list-item-details  .list-item-details-button{

}